<!doctype html>
<title>{% block title %}{% endblock %} - Bank</title>
<nav>
    <h1><a href="/">Empresa de comércio online</a></h1>
    <ul>
        <li><a href="{{ url_for('customers') }}">Customers</a>
        <li><a href="{{ url_for('orders') }}">Orders</a>
        <li><a href="{{ url_for('products') }}">Products</a>
        <li><a href="{{ url_for('suppliers') }}">Suppliers</a>
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
</section>