{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Customers{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="add-container">
    <h2></h1><a href="/customers/new_customer" class="add-btn">Add Customer</a></h2>
</div>
{% for customer in customers %}
    <article class="post">
    <header>
        <div>
            <h1>{{ customer['cust_no'] }}</h1>
            <div class="about"> {{ customer['name'] }}</div>
        </div>
    </header>
    <p class="body">{{ customer['email'] }}</p>
    <p class="body">{{ customer['phone'] }}</p>
    <p class="body">{{ customer['adress'] }}</p>
    <div class="remove-container">
        <form action="/customers/remove" method="post">
            <p><input type="hidden" name="cust_no" value="{{ customer['cust_no'] }}"/></p>
            <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
        </form>
    </div>
    </article>
{% endfor %}
{% endblock %}