{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Customers{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="add-container">
    <h2><a href="{{ url_for('new_customer') }}" class="add-btn">Add Customer</a></h2>
</div>
{% for customer in customers %}
<article class="post">
    <header>
        <h3>Custumer:{{ customer['cust_no'] }}</h3>
        <div class="about">{{ customer['name'] }}</div>
    </header>
    <div class="details">
        <p>{{ customer['email'] }}</p>
        <p>{{ customer['phone'] }}</p>
        <p>{{ customer['address'] }}</p>
        <div class="remove-container">
            <form action="{{ url_for('remove_customer') }}" method="post">
            <input type="hidden" name="cust_no" value="{{ customer['cust_no'] }}">
            <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
        </div>
    </div>
</article>
{% endfor %}
{% endblock %}