{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit Product{% endblock %}</h1>
{% endblock %}

{% block content %}
<form class="customer-form" action="/products/edit_product/edit" method="post">
    <div class="form-group">
        <h3>Sku: {{ request.form['SKU'] }}</h3>
    </div>
    <div class="form-group">
        <h3>Name: {{ request.form['name'] }}</h3>
    </div>
    <div class="form-group">
        <h3>Ean: {{ request.form['ean'] }}</h3>
    </div>

    <input type="hidden" name="SKU" value="{{ request.form['SKU'] }}"/>

    <div class="form-group">
        <label for="price">Price:</label>
        <input type="text" id="price" name="price">
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea>
    </div>

    <input type="submit" value="Submit">
</form>
{% endblock %}