{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Order{% endblock %}</h1>
{% endblock %}

{% block content %}
<form class="customer-form" action="{{ url_for('create_order') }}" method="post">
    <div class="form-group">
        <h3>Order Number: {{ new_order_no }}</h3>
    </div>
    <input type="hidden" name="order_no" value="{{ new_order_no }}"/>

    <label for="cust_no">Customer Number:</label>
    <input type="text" id="cust_no" name="cust_no" required>

    <label for="date">Date:</label>
    <input type="text" id="date" name="date" required>

    <label for="SKU">SKU:</label>
    <input type="text" id="SKU" name="SKU" required>

    <label for="qty">Quantity:</label>
    <input type="text" id="qty" name="qty" required>

    <input type="submit" value="Submit">
</form>
{% endblock %}