{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Orders{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="add-container">
    <h2><a href="{{ url_for('new_order') }}" class="add-btn">New Order</a></h2>
</div>
{% for orders in orders %}
<article class="post">
    <header>
        <h3>Order: {{ orders['order_no'] }}</h3>
        <div class="about">Customer: {{ orders['cust_no'] }}</div>
    </header>
    <div class="details">
        <p>{{ orders['date'] }}</p>
        <p>Product: {{ orders['sku'] }}</p>
        <p>Quantity: {{ orders['qty'] }}</p>
        <div class="remove-container">
            <form action="{{ url_for('remove_supplier') }}" method="post">
            <input type="hidden" name="TIN" value="{{ orders['order_no'] }}">
            <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
        </div>
    </div>
</article>
{% endfor %}
{% endblock %}