{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Products{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="add-container">
    <h2></h1><a href="/products/new_product" class="add-btn">Add Product</a></h2>
</div>
{% for product in products %}
    <article class="post">
    <header>
        <div>
            <h1>Sku: {{ product['sku'] }}</h1>
            <h3>{{ product['name'] }}</h3>
            <div class="about"> {{ product['description'] }}</div>
        </div>
    </header>
    <p class="body">{{ product['price'] }}</p>
    <p class="body">Ean:{{ product['ean'] }}</p>
    <div class="remove-container">
        <form action="/products/remove" method="post">
            <p><input type="hidden" name="SKU" value="{{ product['sku'] }}"/></p>
            <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
        </form>
    </div>
    <div class="edit-container">
        <form action="/products/edit_product" method="post">
            <p><input type="hidden" name="SKU" value="{{ product['sku'] }}"/></p>
            <p><input type="hidden" name="name" value="{{ product['name'] }}"/></p>
            <p><input type="hidden" name="ean" value="{{ product['ean'] }}"/></p>
            <input type="submit" value="Edit">
        </form>
    </div>
    </article>
{% endfor %}
{% endblock %}